@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  /* Primary */

  --Olive-Green-light: #3d550c;
  --Lime-Green: #81b622;
  --Yellow-Green: #ecf87f;
  --Green: #59981a;

  /* Neutral */
  --Olive: #778a35;
  --Sage-Green: #d1e2c4;
  --Pewter: #ebebe8;
  --Olive-Green: #1b2802;

  --font-main: 'Poetsen One', sans-serif;
  --font-parag: 'Montserrat', sans-serif;


}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  background-color: var(--Olive);
  color: var(--Olive-Green);


}

/* Exemplo básico para a galeria */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaço entre as imagens */
  justify-content: center; /* Alinha as imagens no centro */
}

.image-container {
  width: 200px; /* Ajuste o tamanho das imagens como desejar */
  height: auto;
  text-align: center;
}

.thumbnail {
  width: 100%;
  height: auto;
}


@media (min-width: 1280px) {
  #root {
    max-width: 1280px;
    padding: 2rem;
  }
}
